*{
    margin: 0;
    padding: 0;
}
body{
    /* min-height: 100vh; */
    display: flex;
    justify-content: center;
    background-color: hsl(225, 100%, 94%);
    /* align-items: center; */
    font-family: "Red Hat Display", sans-serif;
    background-image: url('../images/pattern-background-desktop.svg') ;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: contain;

}
.wrapper{
    margin-top: 100px;
    height: 700px;
    width: 450px;
    background-color: white;
    border-radius: 25px;
    margin-bottom: 100px;
    
}
.image > img{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.text{
    text-align: center;
    margin-top: 40px;
}
.text > h1{
    /* font-family: "Red Hat Display", sans-serif; */
    font-weight: 900;
    color: hsl(223, 47%, 23%);
    font-size: 28px;
    margin-bottom: 20px;

}
.text > p{
    font-size: 18px;
    color: hsl(224, 23%, 55%);
    font-weight: 500;
    width: 80%;
    line-height: 26px;
    /* text-align: center; */
    margin:0 auto 20px auto;
}
.plan{
    /* margin-top:20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 100px;
    background-color:  hsl(225, 100%, 98%);
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
}
.plan .image-text{
    display: flex;
    gap: 15px;
}
.plan  ul{
    list-style: none;
}
.plan ul :first-child{
    font-weight: 900;
    color:hsl(223, 47%, 23%);
}
.plan ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.plan ul :last-child{
    font-weight: 700;
    color:hsl(224, 23%, 55%);
}
.plan a {
    font-weight:700 ;
    color:  hsl(245, 75%, 52%);
}
.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
.payment{
    background-color: hsl(245, 75%, 52%);
    border: none;
    color: white;
    font-weight: 700;
    font-size: 16px;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 8px 8px hsl(224, 23%, 55%);

}
.cancel{
    font-size: 16px;
    font-weight: 700;
    border: none;
    color: hsl(224, 23%, 55%);
    margin-bottom: 50px;
}